<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      font-family: monospace;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
    }

    body {
      background-color: rgb(236, 226, 198);
      color: coral;
    }

    main {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px;
      padding: 20px;
      border: 4px dashed rgb(216, 140, 27);
      border-radius: 20px;
    }

    h1 {
      text-align: center;
      color: rgb(0, 160, 8);
    }

    h1::after {
      content: "";
      display: block;
      background-color: rgb(0, 160, 8);
      width: 60px;
      height: 2px;
      margin: 10px auto 30px auto;
    }

    p {
      font-size: 1.2rem;
      font-weight: bold;
    }

  </style>
</head>
<body>

  <main>
    <h1>O dia perfeito de <%= childName %></h1>
    <p>No dia <%= born %>, nasceu <%= childName %>, para alegria dos seus pais, <%= fatherName %> e <%= motherName %>.</p>
    <p>Naquele dia e naquela cidade, <%= municipio %>, <%= state %>, não havia família mais feliz.</p>
    

    <p><%= email %></p>
    <p><%= state %></p>
    <p><%= municipio %></p>

    <p><%= childGender %></p>
    <p><%= born %></p>
    <p><%= play %></p>
    <p><%= friendName %></p>
    <p><%= friendName2 %></p>
    <p><%= favoritePet %></p>
  </main>

</body>
</html>