<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      font-family: monospace;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
    }

    body {
      height: 98vh;
      background-color: rgb(236, 226, 198);
      color: coral;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    main {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px;
      padding: 20px;
      border: 4px dashed rgb(216, 140, 27);
      border-radius: 20px;
      /* flex: 1; */
    }

    h1 {
      text-align: center;
      color: rgb(0, 160, 8);
    }

    h1::after {
      content: "";
      display: block;
      background-color: rgb(0, 160, 8);
      width: 60px;
      height: 2px;
      margin: 10px auto 30px auto;
    }

    main p {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    footer {
      margin: 40px 0 0 0;
      width: 100%;
      background-color: rgb(216, 140, 27);
      display: flex;
      justify-content: space-around;
    }

    footer p {
      color: rgb(236, 226, 198);
      font-size: 0.9rem;
      font-weight: bold;
    }
    
    span {
      color: rgb(25, 10, 156);
    }

    .last-paragraph::after {
      content: "";
      display: block;
      background-color: coral;
      width: 60px;
      height: 2px;
      margin: 20px auto 40px auto;
    }

  </style>
</head>
<body>

  
  <div>
    <main>
      <h1>A vida de <%= childName + ' ' + childLastName %></h1>
      <p>No dia <span><%= born %></span>, nasceu <span><%= childName %></span>, para a alegria de seus pais, <span><%= fatherName %></span> e <span><%= motherName %></span>.</p>
      <p>Naquele dia e naquela cidade, <span><%= municipio %></span>, <span><%= state %></span>, não havia família mais feliz!</p>
      <p>Como <% if (childGender === 'Feminino') { %>
        <span>menina</span>
      <% } else { %>
        <span>menino</span>
      <% } %> alegre que é, <span><%= childName %></span> adora brincar de <span><%= play.toLowerCase() %></span> com <span><%= friendName %></span> e <span><%= friendName2 %></span>.</p>
      <p class="last-paragraph">Além disso, <span><%= childName %></span> gosta de brincar com animais de estimação, especialmente com <span><%= favoritePet.toLowerCase() %>s</span>.</p>
      <p><span><%= childName %></span>, este conto foi um presente de uma pessoa que te quer sempre bem e que deseja que tenha uma vida repleta de alegrias.</p>
    </main>
  </div>

  <div>
    <footer>
      <div class="rights"><p>2021 - Thiago Gonçalves - Instituto Infnet</p></div>
      <div class="email"><p>Arquivo enviado para: <span><%= email %></span></p></div>
    </footer>
  </div>

</body>
</html>